h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

#title {
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
}

.big-heading {
    font-family: "Montserrat-Black";
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
}

h2 {
    text-align: center;
}